$family-font: arial, sans-serif;
$color-font: #fff;

$default-background: #000;
$base-color: #27556C;
$dark-color: #113C51;
$active-color: #477186;
$lighter-color: #6E92A1;

$measure5: 5%;

@mixin border-radius($radius: 25px){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
$icons: (twitter,facebook,youtube,rss);
@each $social in $icons{
	.#{$social}{
		background: url('/img/social/#{$social}.png') no-repeat;
	}
}
@each $p in(
	p1 $dark-color,
	p2 $dark-color + 30,
	p3 $dark-color + 60,
	p4 $dark-color + 90
){
	.#{nth($p,1)}{ background: #{nth($p,2)}; }
}