$family-font: arial, sans-serif;
$color-font: #fff;

$default-background: #000;
$base-color: #27556C;
$dark-color: #113C51;
$active-color: #477186;
$lighter-color: #6E92A1;

$measure5: 5%;

@mixin border-radius($radius: 25px){
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin phone{
	@media only screen and (max-width: 480px){
		@content;
	}
}

$icons: (twitter,facebook,youtube,rss);
@each $social in $icons{
	.#{$social}{
		background: url('/img/social/#{$social}.png') no-repeat;
	}
}
@function myText-color($background){
	@if lightness($background) < 50%{
		@return lighten($background, 70%);
	}@else{
		@return darken($background, 70%);
	}
}
@each $p in(
	p1 black,
	p2 black + 20,
	p3 white,
	p4 white - 40
){
	.#{nth($p,1)}{ background: nth($p,2); color: myText-color(nth($p,2)); }
}
$i: 1;
/*@for $i from 1 through 4{
	.p#{$i}{ margin-right: 30px * $i; }
}*/
$parbg: black;
@while $i < 5{
	.p#{$i}{ margin-right: 50px * $i; 
		background: $parbg; color: myText-color($parbg);
		padding: 20px;
		@include border-radius(100px);
	}
	$i: $i+1;
	$parbg: lighten($parbg, 25%);
}